﻿@model ContactForm.Models.Contact

@{
    ViewData["Title"] = "ThankYouPage";
}

<h1>Thank you @Model.FirstName for your contact.</h1>
<h3>Please wait for answer, we will send you email to your address: @Model.EmailAddress</h3>

